body {
  background-color: #101414;
  height: 100vh;
  width: 100vw;
}

.ag-theme-alpine {
  min-height: 500px;
  height: 500px;
}

h1 {
  color: #00fbfb;
  font-size: x-large;
  font-weight: bold;
  margin-bottom: 0;
  letter-spacing: 1.5px;
}

h2 {
  color: #00fbfb;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
}

h3 {
  color: #e0e3e2;
  font-size: large;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
  letter-spacing: 1px;
}
